@import url('./assets/fonts/fonts.css');

:root {
  --blue: #6f9cce;
  --dark-blue: #2261a6;
  --gray: #9d9d9d;
  --light-gray: #f2f2f2;

  --mobileS: 320px;
  --mobileM: 375px;
  --mobileL: 425px;
  --tabletS: 576px;
  --tablet-breakpoint: 768px;
  --laptop: 1024px;
  --laptopL: 1440px;
  --desktop-breakpoint: 2560px;
}

body {
  font-family: 'PT Sans Caption', sans-serif !important;
}

a {
  text-decoration: none;
  color: black;

  transition: color 0.2s;
}

address {
  font-style: normal;
}

a:hover {
  color: var(--blue);
}

a:focus-visible {
  color: var(--blue);
  outline: 2px solid var(--blue);
}

