footer {
  padding: 20px 0 20px 0;
  width: 100%;
  background-color: white;
  box-shadow: inset 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerColumn {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.communities {
  align-items: end;
}

.communitiesText {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.imgLogo {
  width: 20px;
  height: 20px;
}

.imgLogo:hover {
  fill: var(--dark-blue);
}

.organizationName {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-blue);
  margin-bottom: 10px;
}

.contacts {
  font-size: 17px;
  font-weight: bold;
}

.footerExit {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exitBtn:hover {
  cursor: pointer;
  color: var(--blue);
}

.exitBtn:focus {
  cursor: pointer;
  color: var(--blue);
  border: 2px solid var(--blue);
}

.horizontalLine {
  margin: 20px 0;
  border-top: 1px solid black;
  width: 100%;
}

@media (min-width: 2560px) {
  .footerColumn {
    font-size: 16px;
  }

  .contacts {
    font-size: 20px;
  }

  .communitiesText {
    font-size: 20px;
  }
  .exitBtn {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .communities {
    align-items: start;
  }

  .contacts {
    padding: 20px 0;
  }
}

@media (max-width: 320px) {
  .container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footerColumn {
    font-size: 12px;
  }

  .communities {
    align-items: start;
  }

  .contacts {
    padding: 20px 0;
    font-size: 14px;
  }

  .communitiesText {
    font-size: 14px;
  }
}
