.loginPage {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/images/background-news.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginForm {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 40%;
}

.loginTitle {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputLabel {
  font-size: 20px;
  color: white;
  margin: 30px 0 0 30px;
}

.loginInput {
  font-size: 20px;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  padding: 15px 10px;
  margin: 10px 30px;
}

.loginInput:focus {
  border: 1px solid var(--blue);
}

.btnLogin {
  color: white;
  font-size: 20px;
  align-self: flex-end;
  margin: 30px 30px 30px 0;
  padding: 10px 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btnLogin:hover,
.btnLogin:focus {
  cursor: pointer;
  border: 1px solid var(--blue);
}

.errorMessage {
  margin: 30px 30px 0 30px;
  color: var(--dark-blue);
  font-size: 16px;
}

.error {
  margin-left: 30px;
  color: white;
  font-size: 13px;
}

@media (min-width: 2560px) {
  .loginForm {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  .loginForm {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .loginForm {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .loginForm {
    width: 85%;
  }
}

@media (max-width: 425px) {
  .loginForm {
    width: 85%;
  }

  .loginTitle {
    font-size: 21px;
  }

  .inputLabel {
    font-size: 16px;
  }

  .btnLogin {
    font-size: 16px;
  }

  .loginInput {
    font-size: 16px;
  }

  .errorMessage {
    font-size: 13px;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .loginForm {
    width: 90%;
  }

  .loginTitle {
    font-size: 21px;
  }

  .inputLabel {
    font-size: 16px;
  }

  .btnLogin {
    font-size: 16px;
  }

  .loginInput {
    font-size: 16px;
  }

  .errorMessage {
    font-size: 13px;
    margin-top: 10px;
  }
}
