.btnDocument {
  font-weight: bold;
  color: var(--blue);
  display: flex;
  align-items: center;

  cursor: pointer;
  flex-wrap: wrap;
  word-break: break-word;
  flex-grow: 1;
  margin-right: 10px;
}

.btnDocument:focus {
  border: none !important;
}

.btnImg {
  margin-right: 20px;
}

.btnDelete {
  cursor: pointer;
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.btnDelete:focus {
  outline: 1px solid var(--blue);
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid var(--blue);
  margin-bottom: 15px;
  border-radius: 4px;
}

@media (min-width: 2560px) {
  .btnDocument {
    font-size: 21px;
  }

  .item {
    padding: 15px;
  }

  .imgDelete {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .btnDocument {
    font-size: 14px;
  }
}
