.container {
  margin: 0 auto;
  width: 85%;
}

.infoSection {
  width: 100%;
  background-color: #e3e3e3;
}

.titleNews {
  display: block;
  font-family: 'Dela Gothic One';
  padding-bottom: 20px;
  font-size: 20px;
}
