.page {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  justify-content: flex-end;
  margin: 0 70px;
  align-items: center;
}

.btnPage {
  padding: 5px;
  font-size: 20px;

  transition: color 0.3s;
}

.btnPage:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.btnPage:focus {
  border: 1px solid var(--blue);
}

.pageInfo {
  padding: 5px;
}

@media (min-width: 2560px) {
  .page {
    font-size: 20px;
  }

  .btnPage {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .page {
    justify-content: center;
  }
}

@media (max-width: 375px) {
  .page {
    font-size: 14px;
  }

  .btnPage {
    font-size: 14px;
  }
}
