.formCreate {
  display: flex;
  flex-direction: column;
}

.buttonCreate {
  background-color: var(--dark-blue);
  color: white;
  width: 150px;
  align-self: center;
  text-align: center;
  padding: 10px 15px;
  margin-top: 30px;
}

.buttonCreate:focus {
  background-color: var(--blue);
}

.inputTitle {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-blue);

  border-bottom: 1px solid var(--gray);
  margin-bottom: 10px;
}

.inputTitle:focus {
  border-bottom: 1px solid var(--dark-blue);
}

.txtAreaContent {
  font-size: 16px;
  height: 300px;
  resize: none;
  margin-bottom: 20px;
}

.txtAreaContent:focus {
  outline: 1px solid var(--blue);
}
.addLink {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputLink {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.inputLink:focus {
  border: 2px solid var(--blue);
}

.btnAddLink {
  display: flex;
  align-items: center;
}

.btnAddLink:focus {
  outline: 1px solid var(--blue);
}

.link {
  width: 80%;
  word-wrap: break-word;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btnDeleteLink:focus {
  outline: 1px solid var(--blue);
}

.btnLinkImg {
  width: 15px;
  height: 15px;
}

.imageContainer {
  position: relative;
}

.imagePreview {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.imagesPreview {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.btnDeleteImg {
  padding: 5px;
  top: 5px;
  right: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.btnDeleteImg:focus {
  background-color: var(--dark-blue);
}

.input {
  display: none;
}

.inputImg {
  margin-right: 20px;
}

.documentInput {
  font-weight: bold;
  color: var(--blue);
  padding: 10px;
  margin: 10px 0px 0px;
  border-radius: 4px;
  border: 2px dotted var(--blue);

  display: flex;
  align-items: center;

  cursor: pointer;
}

.documentInput:focus {
  border: 2px solid var(--dark-blue);
}

.warning {
  margin-top: 0px;
  padding-top: 0px;
  color: var(--blue);
  font-size: 13px;

  margin-bottom: 10px;
}

@media (min-width: 2560px) {
  .inputTitle {
    font-size: 25px;
  }

  .txtAreaContent {
    font-size: 20px;
  }

  .documentInput {
    font-size: 21px;
    padding: 15px;
  }

  .inputLink {
    font-size: 20px;
  }

  .link {
    font-size: 20px;
  }

  .warning {
    font-size: 16px;
  }

  .buttonCreate {
    font-size: 20px;
  }
}
