.inputs {
  margin: 0 10px 30px;
}

.inputField {
  width: 100%;
  background-color: var(--light-gray);
  padding: 15px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: var(--gray);
}

.inputField:focus {
  border: 1px solid var(--dark-blue);
}

.error {
  font-size: 13px;
  color: brown;
}
