.inputs {
  margin: 0 10px 30px;
}

.inputField {
  width: 100%;
  background-color: var(--light-gray);
  padding: 15px;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: var(--gray);
}

.inputField:focus {
  border: 1px solid var(--dark-blue);
}

.error {
  font-size: 13px;
  color: brown;
}

@media (min-width: 2560px) {
  .inputField {
    font-size: 20px;
  }

  .error {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .inputField {
    font-size: 14px;
  }
}
