.sectionGid {
  width: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 80%;
}

.title {
  display: block;
  padding: 50px 0 20px;
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-blue);
}

.video {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 100px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .title {
    font-size: 25px;
  }

  .video {
    margin-bottom: 100px;
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 20px;
  }

  .video {
    margin-bottom: 50px;
  }
}
