.header {
  padding: 5px 0;
  width: 100%;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  margin: auto;
  max-width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logoUp {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.logoDown {
  text-transform: uppercase;
}

.navLinks {
  list-style-type: none;
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
}

.links {
  margin-right: 20px;
}

.links:last-child {
  margin-right: 0;
}

.link {
  color: #000;
  transition: color 0.3s;
}

.link:hover {
  color: var(--blue);
}

.activeHeaderLink {
  color: var(--blue);
}

.activeHeaderLink::after {
  margin-top: 7px;
  content: '';
  display: block;
  background-color: var(--blue);
  height: 2px;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burgerLinks {
  list-style-type: none;
}

.sideDrawer {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: white;
  transition: transform 0.3s ease-out;
  z-index: 200;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.sideDrawer.active {
  width: 250px;
  transform: translateX(-250px);
}

.sideDrawer li {
  margin: 20px 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.overlay.active {
  display: block;
}

@media (min-width: 2560px) {
  .logoUp {
    font-size: 25px;
  }

  .logoDown {
    font-size: 21px;
  }

  .navLinks {
    font-size: 21px;
  }
  .header {
    padding: 10px 0;
  }
}

@media (max-width: 1024px) {
  .logoUp {
    font-size: 16px;
  }

  .logoDown {
    font-size: 13px;
  }

  .navLinks {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .burger {
    display: flex;
  }

  .header {
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
}

@media (max-width: 425px) {
  .logoUp {
    font-size: 14px;
  }

  .logoDown {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .logoUp {
    font-size: 12px;
  }

  .logoDown {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
}
