@font-face {
  font-family: 'PT Sans Caption', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
}

@font-face {
  font-family: 'PT Sans Caption Bold', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@700&display=swap');
}

@font-face {
  font-family: 'Yiggivoo';
  font-style: italic;
  font-weight: 400;
  src: local ('Yiggivoo Unicode Regular 400 Italic'), url('./Yiggivoo.woff') format('.woff'),
    url('./Yiggivoo.ttf') format('.ttf'), url('./Yiggivoo.woff2') format('.woff2');
}
