@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: url('./PTSansCaption/Regular/PTSans-Caption.woff2') format('woff2'),
    url('./PTSansCaption/Regular/PTSans-Caption.woff') format('woff'),
    url('./PTSansCaption/Regular/PTSans-Caption.ttf') format('ttf'),
    url('./PTSansCaption/Regular/PTSans-Caption.eot') format('eot');
}

@font-face {
  font-family: 'PT Sans Caption Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./PTSansCaption/Bold/PTSans-CaptionBold.woff2') format('woff2'),
    url('./PTSansCaption/Bold/PTSans-CaptionBold.woff') format('woff'),
    url('./PTSansCaption/Bold/PTSans-CaptionBold.ttf') format('ttf'),
    url('./PTSansCaption/Bold/PTSans-CaptionBold.eot') format('eot');
}

@font-face {
  font-family: 'Yiggivoo';
  font-style: italic;
  font-weight: 400;
  src: local ('Yiggivoo Unicode Regular 400 Italic'), url('./Yiggivoo/Yiggivoo.woff2') format('woff2'),
    url('./Yiggivoo/Yiggivoo.woff') format('woff'), url('./Yiggivoo/Yiggivoo.ttf') format('ttf');
}

@font-face {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  src: url('./DelaGothicOne/DelaGothicOne-Regular.woff2') format('woff2'),
    url('./DelaGothicOne/DelaGothicOne-Regular.woff') format('woff'),
    url('./DelaGothicOne/DelaGothicOne-Regular.ttf') format('ttf'),
    url('./DelaGothicOne/DelaGothicOne-Regular.eot') format('eot');
}
