.oneNews {
  display: flex;
  flex-direction: column;
}

.titleNews {
  color: var(--dark-blue);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  word-break: break-word;
}

.dateNews {
  color: var(--gray);
  font-size: 15px;
}

.contentNews {
  font-size: 16px;
  word-break: break-word;
  white-space: pre-wrap;
}

.horizontalLine {
  margin: 30px auto;
  border-top: 1px solid var(--gray);
  width: 100%;
}

.titleDescription {
  color: var(--dark-blue);
  font-weight: bold;
  margin-bottom: 15px;
}

.newsLink {
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  word-break: break-word;
}

.newsLink:last-of-type {
  margin-bottom: 0;
}

.linkImg {
  margin-right: 10px;
}

.photos {
  display: flex;
  flex-direction: column;
}

.newsPhoto {
  margin-bottom: 30px;
}

.newsPhoto:last-child {
  margin-bottom: 0;
}
.photo {
  width: 100%;
}

@media (min-width: 2560px) {
  .contentNews {
    font-size: 20px;
  }

  .titleDescription {
    font-size: 20px;
  }

  .newsLink {
    font-size: 20px;
  }
}
