.sectionHeader {
  padding: 100px 0;
  width: 100%;
  background-image: url('../../../assets/images/background-1.webp');
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.textHeader {
  font-family: 'Yiggivoo';
  font-size: 36px;
  color: white;
}

.firstStroke {
  text-align: start;
}

.secondStroke {
  text-align: end;
}
